<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>The Whole Prime Number Checker</title>
</head>
<body>
    <header>
        <h1 class="primetitle">The Whole Prime Number Checker</h1>
    </header>

    <form method="POST" id = "primeForm">
        <label for="number">Input a number: </label>
        <input id ="number" name="number" type="number"/>
        <button type="submit" >SUBMIT</button>
    </form>
    <ul id="attempts"></ul>
    <div id="error" class="error" hidden></div>
    <footer>
        <br>Name: Nidhi Parekh 
        <br>ID: 10452568
        <br>bee-boo-boo-bop, boo-boo-beep
    </footer>
    <script src="../../public/js/form.js"></script>
</body>
</html>